html {
  height: 100%;
  margin: 0;
  font-size: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

.width-50 {
  width: 50%;
}

.height-100 {
  height: 100%;
}

.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}

.mr-20 {
  margin-right: 20px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.inline-block {
  display: inline-block;
}

.main-bg {
  height: 100%;
  background-image: url("bowlerama-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  color: #fff;
  margin: 0 auto 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  padding-top: 40px;
}

.container,
.container > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bowling-container {
  height: 500px;
  width: 1000px;
}

.bowling {
  display: flex;
  height: 100%;
}

.bowling__add-players {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bowling__add-players__form {
  text-align: center;
  height: 80px;
}

.bowling__players-list__heading {
  margin: 20px auto;
  text-align: center;
}

.bowling__bottom-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bowling__game-form {
  width: 90%;
  position: absolute;
  bottom: 40px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.bowling__game-form__pins {
  display: flex;
  justify-content: space-between;
}

.cell-highlighted {
  background-color: #00bcd4;
}

.table-container {
  height: 285px;
  overflow-x: hidden;
  overflow-y: auto;
}

.bowling__game-over {
  width: 60%;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bowling__game-over__winner {
  font-size: 40px;
  font-weight: bold;
  color: #00bcd4;
}
